* {
    margin: 0;
    padding: 0;
    font-size: 20px;
    background-color: rgb(10, 10, 30);
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    outline: none;
}

/* --------------- Background Animation Starts --------------- */
body {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bubbles {
    position: absolute;
    bottom: -120px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
    width: 100%;
    justify-content: space-around;
}
.bubbles span {
    height: 60px;
    width: 60px;
    background: rgba(255, 255, 255, 0.07);
    border-radius: 50%;
    animation: move 10s linear infinite;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
@keyframes move {
    100% {
        transform: translateY(-100vh);
    }
}
.bubbles span.one {
    animation-delay: 2.2s;
    transform: scale(2.15);
}
.bubbles span.two {
    animation-delay: 3.5s;
    transform: scale(1.55);
}
.bubbles span.three {
    animation-delay: 0.2s;
    transform: scale(0.35);
}
.bubbles span.four {
    animation-delay: 6s;
    transform: scale(2.15);
}
.bubbles span.five {
    animation-delay: 7s;
    transform: scale(0.5);
}
.bubbles span.six {
    animation-delay: 4s;
    transform: scale(2.5);
}
.bubbles span.seven {
    animation-delay: 3;
    transform: scale(1.5);
}
.bubbles span:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 60px;
    width: 40%;
    transform: skew(45deg) translateX(150px);
    background: rgba(255, 255, 255, 0.15);
    animation: mirror 3s linear infinite;
}
@keyframes mirror {
    100% {
        transform: translateX(-450px);
    }
}
.bubbles span.one:before {
    animation-delay: 1.5s;
}
.bubbles span.two:before {
    animation-delay: 3.5s;
}
.bubbles span.three:before {
    animation-delay: 2.5s;
}
.bubbles span.four:before {
    animation-delay: 7.5s;
}
.bubbles span.five:before {
    animation-delay: 4.5s;
}
.bubbles span.six:before {
    animation-delay: 0.5s;
}
.bubbles span.seven:before {
    animation-delay: 6s;
}
/* --------------- Background Animation CSS Ends --------------- */

/* --------------- Calculator CSS Starts --------------- */
.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container::before {
    content: "";
    position: absolute;
    width: 250px;
    height: 250px;
    background: linear-gradient(45deg, #00a1ff, #00ff8f);
    border-radius: 50%;
    transform: translate(7.5rem, -13.5rem);
}

.container::after {
    content: "";
    position: absolute;
    width: 250px;
    height: 250px;
    background: linear-gradient(45deg, #009245, #fcee21);
    border-radius: 50%;
    transform: translate(-8.5rem, 11rem);
}
.calculator {
    position: relative;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.07);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    /* padding: 15px; */
    display: grid;
    grid-template-columns: repeat(4, 100px);
    z-index: 2;
}

input {
    background: transparent;
    grid-column: span 4;
    padding: 10px;
    text-align: right;
    border: none;
    border-radius: 10px;
    color: white;
}

input::placeholder {
    color: white;
}

#screen {
    padding-right: 15px;
    border-bottom: 0;
    font-size: 35px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    color: rgb(255, 255, 255, 0.7);
}

#result {
    border-top: 0;
    height: 80px;
    margin-bottom: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    font-size: 70px;
}

button {
    background: transparent;
    /* display: block; */
    height: 90px;
    width: 100px;
    padding: 10px;
    border: none;
    user-select: none;
    font-size: 35px;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.06);
    border-right: 1px solid rgba(255, 255, 255, 0.06);
    cursor: pointer;
}

button:hover {
    transition: 0s;
    background: rgba(255, 255, 255, 0.05);
}
button:active {
    background: rgb(255, 87, 213);
    color: black;
    font-size: 40px;
    font-weight: 500;
}
.all-clear {
    grid-column: span 2;
    width: 200px;
}
.all-clear:active {
    background: rgb(225, 50, 50);
}
.delete:active {
    background: rgb(225, 50, 50);
}
.equal:active {
    background: rgb(65, 255, 50);
}
/* --------------- Calculator CSS Ends --------------- */

/* --------------- Credit CSS Starts --------------- */
.creditButton {
    transform: translate(6.4rem, 0.5rem);
    font-size: 20px;
    padding: 0px;
    margin: 0;
    width: 150px;
    text-align: center;
    height: 40px;
    color: white;
    font-weight: 400;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.07);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    backdrop-filter: blur(15px);
}

.creditButton:hover {
    background: linear-gradient(
        45deg,
        #f09433 0%,
        #e6683c 25%,
        #dc2743 50%,
        #cc2366 75%,
        #bc1888 100%
    );
    border: 2px solid white;
}

.creditButton:active {
    font-size: 20px;
    color: white;
}
/* --------------- Credit CSS Ends --------------- */

/* Developed with love by Shibam Saha */
